In [ ]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from bs4 import BeautifulSoup
import requests

In [ ]:
url = "https://www.hubertiming.com/results/2024Lilac"
response = requests.get(url)
response.status_code

200

In [ ]:
page = response.text
soup = BeautifulSoup(page,"lxml")
soup.prettify()

'<!DOCTYPE html>\n<html>\n <head>\n  <meta content="Race results for the 2024 Gresham Lilac Run!" property="og:title"/>\n  <meta content="Results of the 2024 Gresham Lilac Run at Main City Park in Gresham, US" property="og:description"/>\n  <meta content="https://www.hubertiming.com/results/2020Lilac.png" property="og:image"/>\n  <meta content="https://www.hubertiming.com/results/2024Lilac" property="og:url"/>\n  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>\n  <title>\n   Race results for the 2024 Gresham Lilac Run!\n  </title>\n  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"/>\n  <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet"/>\n  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.11/release/featherlight.min.css" rel="stylesheet" type="text/css"/>\n  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.11/release/featherlight.gallery.min.css" rel="stylesheet" type="text/css"/>\n  <link href="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/smoothness/jquery-ui.css" rel="Stylesheet"/>\n  <link href="/Content/results.css" rel="stylesheet" type="text/css"/>\n </head>\n <body>\n  <div id="fb-root">\n  </div>\n  <script async="" crossorigin="anonymous" defer="" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v7.0&amp;appId=717067621682602&amp;autoLogAppEvents=1">\n  </script>\n  <div class="container-fluid">\n   <div class="row">\n    <!-- column of race logo -->\n    <div class="col-12 col-md-6 noprint">\n     <img alt="2024 Gresham Lilac Run Logo" class="img-responsive mx-auto d-block" src="https://www.hubertiming.com/results/2020Lilac.png" style="padding-top: 10px; max-width: 100%; height: auto; padding-bottom: 10px;"/>\n    </div>\n    <!-- column of race details -->\n    <div class="col-9 col-md-5">\n     <div class="row" style="padding-top: 10px">\n      <p style="text-align: left">\n       <big>\n        <span aria-hidden="true" class="fas fa-flag">\n        </span>\n        2024 Gresham Lilac Run 5K\n        <br/>\n        <span aria-hidden="true" class="fas fa-map-marker-alt">\n        </span>\n        Main City Park, Gresham, US\n        <br/>\n        <span aria-hidden="true" class="far fa-calendar-alt">\n        </span>\n        April 27th, 2024\n        <br/>\n        <span aria-hidden="true" class="fas fa-home">\n        </span>\n        <a href="https://greshamoregon.gov/" target="_blank">\n         City of Gresham\n        </a>\n        <br/>\n       </big>\n      </p>\n     </div>\n     <div class="row" style="margin-top: 5%">\n      <p class="text-left">\n       <span class="fa fa-comment">\n       </span>\n       Email\n       <a href="mailto:timing@hubertiming.com">\n        timing@hubertiming.com\n       </a>\n       with results questions. Please include your bib number if you have it.\n       <br/>\n       <img src="https://www.hubertiming.com/results/verified.png" style="height:15px; width:15px; margin-left: 0px"/>\n       virtual result with verification\n      </p>\n     </div>\n    </div>\n    <!-- column of race results-->\n    <div class="col-3 col-md-1 pull-right" style="text-align: right; margin-top: 10px;">\n     <!-- row of HT Home link -->\n     <p class="text-xs-right">\n      <small>\n       <a href="https://www.hubertiming.com">\n        Huber Timing Home\n       </a>\n      </small>\n     </p>\n     <!-- row of finisher summary -->\n     <table class="pull-right text-xs-right" style="float:right">\n      <tbody>\n       <tr colspan="2">\n        <b>\n         5K:\n        </b>\n       </tr>\n       <tr>\n        <td>\n         Finishers:\n        </td>\n        <td>\n         197\n        </td>\n       </tr>\n       <tr>\n        <td>\n         Starters:\n        </td>\n        <td>\n         198\n        </td>\n       </tr>\n       <tr>\n        <td>\n         On Course:\n        </td>\n        <td>\n         1\n        </td>\n       </tr>\n       <tr>\n        <td>\n         Male:\n        </td>\n        <td>\n         54\n        </td>\n       </tr>\n       <tr>\n        <td>\n         Female:\n        </td>\n        <td>\n         143\n        </td>\n       </tr>\n       <tr>\n        <td>\n         Non-Binary:\n        </td>\n        <td>\n         1\n        </td>\n       </tr>\n      </tbody>\n     </table>\n    </div>\n   </div>\n  </div>\n  <span class="noprint">\n  </span>\n  <div>\n   <div class="text-center" style="margin-top:0px; text-align: center;">\n    <button class="btn btn-secondary btn-lg" disabled="disabled" style="margin: 0px 0px 5px 5px" type="button">\n     <i aria-hidden="true" class="fa fa-user">\n     </i>\n     5K\n    </button>\n    <a class="btn btn-primary btn-lg" href="/results/2024Lilac10K" role="button" style="margin: 0px 0px 5px 5px">\n     <i aria-hidden="true" class="fa fa-user">\n     </i>\n     10K\n    </a>\n    <a class="btn btn-primary btn-lg" href="/results/2024LilacHalf" role="button" style="margin: 0px 0px 5px 5px">\n     <i aria-hidden="true" class="fa fa-user">\n     </i>\n     Half\n    </a>\n    <a class="btn btn-primary btn-lg" href="/results/2024Lilac5KVirtual" role="button" style="margin: 0px 0px 5px 5px">\n     <i aria-hidden="true" class="fa fa-user">\n     </i>\n     5K Virtual\n    </a>\n    <a class="btn btn-primary btn-lg" href="/results/2024Lilac10KVirtual" role="button" style="margin: 0px 0px 5px 5px">\n     <i aria-hidden="true" class="fa fa-user">\n     </i>\n     10K Virtual\n    </a>\n    <a class="btn btn-primary btn-lg" href="/results/2024LilacHalfVirtual" role="button" style="margin: 0px 0px 5px 5px">\n     <i aria-hidden="true" class="fa fa-user">\n     </i>\n     13.1 Virtual\n    </a>\n    <a class="btn btn-primary btn-lg" href="/results/summary/2024Lilac" role="button" style="margin: 0px 0px 5px 5px">\n     <i class="fa fa-stream">\n     </i>\n     Summary\n    </a>\n   </div>\n   <script src="/lib/jquery-3.4.1.min.js">\n   </script>\n   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js" type="text/javascript">\n   </script>\n   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js" type="text/javascript">\n   </script>\n   <a id="individual" name="individual">\n   </a>\n   <div id="tabs">\n    <ul>\n     <li>\n      <a data-url="/results/2024Lilac" href="#tabs-1" id="rootTab" style="font-size: 18px">\n       5K Results\n      </a>\n     </li>\n    </ul>\n    <div id="tabs-1">\n     <form action="#individual">\n      <b>\n       Search:\n      </b>\n      <input name="search" placeholder="Enter name or bib" style="width:200px" value=""/>\n      <button class="btn btn-medium btn-primary">\n       Search\n      </button>\n      <b>\n       Division:\n      </b>\n      <select id="DivisionFilter" name="DivisionFilter">\n       <option value="">\n       </option>\n       <option value="Men">\n        Men\n       </option>\n       <option value="Women">\n        Women\n       </option>\n       <option value="Non-Binary">\n        Non-Binary\n       </option>\n       <option value="Masters Men">\n        Masters Men\n       </option>\n       <option value="Masters Women">\n        Masters Women\n       </option>\n       <option value="Masters Non-Binary">\n        Masters Non-Binary\n       </option>\n       <option value="">\n       </option>\n       <option value="F 9 and Under">\n        F 9 and Under\n       </option>\n       <option value="F 10-14">\n        F 10-14\n       </option>\n       <option value="F 15-19">\n        F 15-19\n       </option>\n       <option value="F 20-24">\n        F 20-24\n       </option>\n       <option value="F 25-29">\n        F 25-29\n       </option>\n       <option value="F 30-34">\n        F 30-34\n       </option>\n       <option value="F 35-39">\n        F 35-39\n       </option>\n       <option value="F 40-44">\n        F 40-44\n       </option>\n       <option value="F 45-49">\n        F 45-49\n       </option>\n       <option value="F 50-54">\n        F 50-54\n       </option>\n       <option value="F 55-59">\n        F 55-59\n       </option>\n       <option value="F 60-64">\n        F 60-64\n       </option>\n       <option value="F 65-69">\n        F 65-69\n       </option>\n       <option value="F 70-74">\n        F 70-74\n       </option>\n       <option value="F 75-79">\n        F 75-79\n       </option>\n       <option value="F 80-84">\n        F 80-84\n       </option>\n       <option value="M 9 and Under">\n        M 9 and Under\n       </option>\n       <option value="M 10-14">\n        M 10-14\n       </option>\n       <option value="M 15-19">\n        M 15-19\n       </option>\n       <option value="M 20-24">\n        M 20-24\n       </option>\n       <option value="M 25-29">\n        M 25-29\n       </option>\n       <option value="M 30-34">\n        M 30-34\n       </option>\n       <option value="M 35-39">\n        M 35-39\n       </option>\n       <option value="M 40-44">\n        M 40-44\n       </option>\n       <option value="M 45-49">\n        M 45-49\n       </option>\n       <option value="M 50-54">\n        M 50-54\n       </option>\n       <option value="M 55-59">\n        M 55-59\n       </option>\n       <option value="M 65-69">\n        M 65-69\n       </option>\n       <option value="M 70-74">\n        M 70-74\n       </option>\n       <option value="M 75-79">\n        M 75-79\n       </option>\n      </select>\n      <button class="btn btn-medium btn-primary">\n       Filter\n      </button>\n     </form>\n     <table class="table table-striped table-hover ht-table table-responsive-md table-bordered" id="individualResults">\n      <thead>\n       <tr class="header">\n        <th>\n         Place\n        </th>\n        <th>\n         Bib\n        </th>\n        <th>\n         Name\n        </th>\n        <th>\n         Gender\n        </th>\n        <th>\n         Age\n        </th>\n        <th>\n         City\n        </th>\n        <th>\n         State\n        </th>\n        <th>\n         Chip Pace\n        </th>\n        <th>\n         Time\n        </th>\n        <th>\n         Gender Place\n        </th>\n        <th>\n         Age Group\n        </th>\n        <th>\n         Age Group Place\n        </th>\n        <th>\n         Time to Start\n        </th>\n        <th>\n         Gun Time\n        </th>\n       </tr>\n      </thead>\n      <tbody>\n       <tr data-bib="538">\n        <td>\n         1\n        </td>\n        <td>\n         538\n        </td>\n        <td>\n         LAWRENCE DENNIS\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         30\n        </td>\n        <td>\n         PORTLAND\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         6:04\n        </td>\n        <td>\n         18:49\n        </td>\n        <td>\n         1 of 54\n        </td>\n        <td>\n         M 30-34\n        </td>\n        <td>\n         1 of 11\n        </td>\n        <td>\n         0:03\n        </td>\n        <td>\n         18:52\n        </td>\n       </tr>\n       <tr data-bib="664">\n        <td>\n         2\n        </td>\n        <td>\n         664\n        </td>\n        <td>\n         NEIL CAMPBELL\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         43\n        </td>\n        <td>\n         SANDY\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         6:04\n        </td>\n        <td>\n         18:50\n        </td>\n        <td>\n         2 of 54\n        </td>\n        <td>\n         M 40-44\n        </td>\n        <td>\n         1 of 6\n        </td>\n        <td>\n         0:03\n        </td>\n        <td>\n         18:53\n        </td>\n       </tr>\n       <tr data-bib="529">\n        <td>\n         3\n        </td>\n        <td>\n         529\n        </td>\n        <td>\n         EDGAR BRAMBILA PEREZ\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         33\n        </td>\n        <td>\n         SANDY\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         6:40\n        </td>\n        <td>\n         20:43\n        </td>\n        <td>\n         3 of 54\n        </td>\n        <td>\n         M 30-34\n        </td>\n        <td>\n         2 of 11\n        </td>\n        <td>\n         0:02\n        </td>\n        <td>\n         20:45\n        </td>\n       </tr>\n       <tr data-bib="748">\n        <td>\n         4\n        </td>\n        <td>\n         748\n        </td>\n        <td>\n         JOHN PICKETT\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         57\n        </td>\n        <td>\n         WOODLAND\n        </td>\n        <td>\n         WA\n        </td>\n        <td>\n         6:59\n        </td>\n        <td>\n         21:40\n        </td>\n        <td>\n         4 of 54\n        </td>\n        <td>\n         M 55-59\n        </td>\n        <td>\n         1 of 4\n        </td>\n        <td>\n         0:03\n        </td>\n        <td>\n         21:43\n        </td>\n       </tr>\n       <tr data-bib="502">\n        <td>\n         5\n        </td>\n        <td>\n         502\n        </td>\n        <td>\n         JUDAH HANSON\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         13\n        </td>\n        <td>\n         FAIRVIEW\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         7:07\n        </td>\n        <td>\n         22:05\n        </td>\n        <td>\n         5 of 54\n        </td>\n        <td>\n         M 10-14\n        </td>\n        <td>\n         1 of 5\n        </td>\n        <td>\n         0:02\n        </td>\n        <td>\n         22:07\n        </td>\n       </tr>\n       <tr data-bib="553">\n        <td>\n         6\n        </td>\n        <td>\n         553\n        </td>\n        <td>\n         HEATH FONTAINE\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         29\n        </td>\n        <td>\n         VANCOUVER\n        </td>\n        <td>\n         WA\n        </td>\n        <td>\n         7:48\n        </td>\n        <td>\n         24:13\n        </td>\n        <td>\n         6 of 54\n        </td>\n        <td>\n         M 25-29\n        </td>\n        <td>\n         1 of 5\n        </td>\n        <td>\n         0:24\n        </td>\n        <td>\n         24:37\n        </td>\n       </tr>\n       <tr data-bib="501">\n        <td>\n         7\n        </td>\n        <td>\n         501\n        </td>\n        <td>\n         JACOB PARSONS\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         36\n        </td>\n        <td>\n         GRESHAM\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         8:06\n        </td>\n        <td>\n         25:08\n        </td>\n        <td>\n         7 of 54\n        </td>\n        <td>\n         M 35-39\n        </td>\n        <td>\n         1 of 3\n        </td>\n        <td>\n         0:05\n        </td>\n        <td>\n         25:13\n        </td>\n       </tr>\n       <tr data-bib="530">\n        <td>\n         8\n        </td>\n        <td>\n         530\n        </td>\n        <td>\n         JENNY PEREZ\n        </td>\n        <td>\n         F\n        </td>\n        <td>\n         32\n        </td>\n        <td>\n         GRESHAM\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         8:14\n        </td>\n        <td>\n         25:34\n        </td>\n        <td>\n         1 of 142\n        </td>\n        <td>\n         F 30-34\n        </td>\n        <td>\n         1 of 14\n        </td>\n        <td>\n         0:04\n        </td>\n        <td>\n         25:38\n        </td>\n       </tr>\n       <tr data-bib="579">\n        <td>\n         9\n        </td>\n        <td>\n         579\n        </td>\n        <td>\n         JUSTIN ROSS\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         44\n        </td>\n        <td>\n         GRESHAM\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         8:34\n        </td>\n        <td>\n         26:35\n        </td>\n        <td>\n         8 of 54\n        </td>\n        <td>\n         M 40-44\n        </td>\n        <td>\n         2 of 6\n        </td>\n        <td>\n         0:05\n        </td>\n        <td>\n         26:40\n        </td>\n       </tr>\n       <tr data-bib="756">\n        <td>\n         10\n        </td>\n        <td>\n         756\n        </td>\n        <td>\n         JOHN EVANS\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         32\n        </td>\n        <td>\n         GRESHAM\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         8:34\n        </td>\n        <td>\n         26:36\n        </td>\n        <td>\n         9 of 54\n        </td>\n        <td>\n         M 30-34\n        </td>\n        <td>\n         3 of 11\n        </td>\n        <td>\n         0:36\n        </td>\n        <td>\n         27:12\n        </td>\n       </tr>\n       <tr data-bib="739">\n        <td>\n         11\n        </td>\n        <td>\n         739\n        </td>\n        <td>\n         KEVIN HUTCHISON\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         45\n        </td>\n        <td>\n         SANDY\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         8:37\n        </td>\n        <td>\n         26:45\n        </td>\n        <td>\n         10 of 54\n        </td>\n        <td>\n         M 45-49\n        </td>\n        <td>\n         1 of 3\n        </td>\n        <td>\n         0:08\n        </td>\n        <td>\n         26:54\n        </td>\n       </tr>\n       <tr data-bib="732">\n        <td>\n         12\n        </td>\n        <td>\n         732\n        </td>\n        <td>\n         EDUARDO SANCHEZ\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         32\n        </td>\n        <td>\n         PORTLAND\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         8:42\n        </td>\n        <td>\n         26:59\n        </td>\n        <td>\n         11 of 54\n        </td>\n        <td>\n         M 30-34\n        </td>\n        <td>\n         4 of 11\n        </td>\n        <td>\n         0:45\n        </td>\n        <td>\n         27:44\n        </td>\n       </tr>\n       <tr data-bib="750">\n        <td>\n         13\n        </td>\n        <td>\n         750\n        </td>\n        <td>\n         SILVIE ANDREWS\n        </td>\n        <td>\n         F\n        </td>\n        <td>\n         31\n        </td>\n        <td>\n         DAMASCUS\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         8:50\n        </td>\n        <td>\n         27:26\n        </td>\n        <td>\n         2 of 142\n        </td>\n        <td>\n         F 30-34\n        </td>\n        <td>\n         2 of 14\n        </td>\n        <td>\n         0:05\n        </td>\n        <td>\n         27:31\n        </td>\n       </tr>\n       <tr data-bib="521">\n        <td>\n         14\n        </td>\n        <td>\n         521\n        </td>\n        <td>\n         FELIX SANCHEZ\n        </td>\n        <td>\n         M\n        </td>\n        <td>\n         46\n        </td>\n        <td>\n         GRESHAM\n        </td>\n        <td>\n         OR\n        </td>\n        <td>\n         9:07\n        </td>\n        <td>\n         28:18\n        </td>\n        <td>\n         12 of 54\n        </td>\n        <td>\n         M 45-49\n        </td>\n        <td>\n         2 of 3\n        </td>\n        <td>\n         0:03\n        </td>\n        <td>\n         28:21\n        </td>\n       </tr>\n       <tr data-bib="730">\n        <td>\n         15\n        </td>\n        <td>\n         730\n        </td>\n        <td>\

In [ ]:
title = soup.title
print(title.text)

Race results for the 2024 Gresham Lilac Run!

In [ ]:
table = soup.find("table",attrs={"id":"individualResults"})
table

<table class="table table-striped table-hover ht-table table-responsive-md table-bordered" id="individualResults">
<thead>
<tr class="header">
<th>Place</th>
<th>Bib</th>
<th>Name</th>
<th>Gender</th>
<th>Age</th>
<th>City</th>
<th>State</th>
<th>Chip Pace</th>
<th>Time</th>
<th>Gender Place</th>
<th>Age Group</th>
<th>Age Group Place</th>
<th>Time to Start</th>
<th>Gun Time</th>
</tr>
</thead>
<tbody>
<tr data-bib="538">
<td>1</td>
<td>538</td>
<td>

                    LAWRENCE DENNIS

                </td>
<td>M</td>
<td>30</td>
<td>PORTLAND</td>
<td>OR</td>
<td>6:04</td>
<td>18:49</td>
<td>

                    1 of 54

                </td>
<td>M 30-34</td>
<td>

                    1 of 11

                </td>
<td>0:03</td>
<td>18:52</td>
</tr>
<tr data-bib="664">
<td>2</td>
<td>664</td>
<td>

                    NEIL CAMPBELL

                </td>
<td>M</td>
<td>43</td>
<td>SANDY</td>
<td>OR</td>
<td>6:04</td>
<td>18:50</td>
<td>

                    2 of 54

                </td>
<td>M 40-44</td>
<td>

                    1 of 6

                </td>
<td>0:03</td>
<td>18:53</td>
</tr>
<tr data-bib="529">
<td>3</td>
<td>529</td>
<td>

                    EDGAR BRAMBILA PEREZ

                </td>
<td>M</td>
<td>33</td>
<td>SANDY</td>
<td>OR</td>
<td>6:40</td>
<td>20:43</td>
<td>

                    3 of 54

                </td>
<td>M 30-34</td>
<td>

                    2 of 11

                </td>
<td>0:02</td>
<td>20:45</td>
</tr>
<tr data-bib="748">
<td>4</td>
<td>748</td>
<td>

                    JOHN PICKETT

                </td>
<td>M</td>
<td>57</td>
<td>WOODLAND</td>
<td>WA</td>
<td>6:59</td>
<td>21:40</td>
<td>

                    4 of 54

                </td>
<td>M 55-59</td>
<td>

                    1 of 4

                </td>
<td>0:03</td>
<td>21:43</td>
</tr>
<tr data-bib="502">
<td>5</td>
<td>502</td>
<td>

                    JUDAH HANSON

                </td>
<td>M</td>
<td>13</td>
<td>FAIRVIEW</td>
<td>OR</td>
<td>7:07</td>
<td>22:05</td>
<td>

                    5 of 54

                </td>
<td>M 10-14</td>
<td>

                    1 of 5

                </td>
<td>0:02</td>
<td>22:07</td>
</tr>
<tr data-bib="553">
<td>6</td>
<td>553</td>
<td>

                    HEATH FONTAINE

                </td>
<td>M</td>
<td>29</td>
<td>VANCOUVER</td>
<td>WA</td>
<td>7:48</td>
<td>24:13</td>
<td>

                    6 of 54

                </td>
<td>M 25-29</td>
<td>

                    1 of 5

                </td>
<td>0:24</td>
<td>24:37</td>
</tr>
<tr data-bib="501">
<td>7</td>
<td>501</td>
<td>

                    JACOB PARSONS

                </td>
<td>M</td>
<td>36</td>
<td>GRESHAM</td>
<td>OR</td>
<td>8:06</td>
<td>25:08</td>
<td>

                    7 of 54

                </td>
<td>M 35-39</td>
<td>

                    1 of 3

                </td>
<td>0:05</td>
<td>25:13</td>
</tr>
<tr data-bib="530">
<td>8</td>
<td>530</td>
<td>

                    JENNY PEREZ

                </td>
<td>F</td>
<td>32</td>
<td>GRESHAM</td>
<td>OR</td>
<td>8:14</td>
<td>25:34</td>
<td>

                    1 of 142

                </td>
<td>F 30-34</td>
<td>

                    1 of 14

                </td>
<td>0:04</td>
<td>25:38</td>
</tr>
<tr data-bib="579">
<td>9</td>
<td>579</td>
<td>

                    JUSTIN ROSS

                </td>
<td>M</td>
<td>44</td>
<td>GRESHAM</td>
<td>OR</td>
<td>8:34</td>
<td>26:35</td>
<td>

                    8 of 54

                </td>
<td>M 40-44</td>
<td>

                    2 of 6

                </td>
<td>0:05</td>
<td>26:40</td>
</tr>
<tr data-bib="756">
<td>10</td>
<td>756</td>
<td>

                    JOHN EVANS

                </td>
<td>M</td>
<td>32</td>
<td>GRESHAM</td>
<td>OR</td>
<td>8:34</td>
<td>26:36</td>
<td>

                    9 of 54

                </td>
<td>M 30-34</td>
<td>

                    3 of 11

                </td>
<td>0:36</td>
<td>27:12</td>
</tr>
<tr data-bib="739">
<td>11</td>
<td>739</td>
<td>

                    KEVIN HUTCHISON

                </td>
<td>M</td>
<td>45</td>
<td>SANDY</td>
<td>OR</td>
<td>8:37</td>
<td>26:45</td>
<td>

                    10 of 54

                </td>
<td>M 45-49</td>
<td>

                    1 of 3

                </td>
<td>0:08</td>
<td>26:54</td>
</tr>
<tr data-bib="732">
<td>12</td>
<td>732</td>
<td>

                    EDUARDO SANCHEZ

                </td>
<td>M</td>
<td>32</td>
<td>PORTLAND</td>
<td>OR</td>
<td>8:42</td>
<td>26:59</td>
<td>

                    11 of 54

                </td>
<td>M 30-34</td>
<td>

                    4 of 11

                </td>
<td>0:45</td>
<td>27:44</td>
</tr>
<tr data-bib="750">
<td>13</td>
<td>750</td>
<td>

                    SILVIE ANDREWS

                </td>
<td>F</td>
<td>31</td>
<td>DAMASCUS</td>
<td>OR</td>
<td>8:50</td>
<td>27:26</td>
<td>

                    2 of 142

                </td>
<td>F 30-34</td>
<td>

                    2 of 14

                </td>
<td>0:05</td>
<td>27:31</td>
</tr>
<tr data-bib="521">
<td>14</td>
<td>521</td>
<td>

                    FELIX SANCHEZ

                </td>
<td>M</td>
<td>46</td>
<td>GRESHAM</td>
<td>OR</td>
<td>9:07</td>
<td>28:18</td>
<td>

                    12 of 54

                </td>
<td>M 45-49</td>
<td>

                    2 of 3

                </td>
<td>0:03</td>
<td>28:21</td>
</tr>
<tr data-bib="730">
<td>15</td>
<td>730</td>
<td>

                    YARROW PARK

                </td>
<td>F</td>
<td>47</td>
<td>SEASIDE</td>
<td>OR</td>
<td>9:08</td>
<td>28:21</td>
<td>

                    3 of 142

                </td>
<td>F 45-49</td>
<td>

                    1 of 17

                </td>
<td>0:34</td>
<td>28:55</td>
</tr>
<tr data-bib="735">
<td>16</td>
<td>735</td>
<td>

                    DYLAN WALSH

                </td>
<td>M</td>
<td>23</td>
<td>ESTACADA</td>
<td>OR</td>
<td>9:11</td>
<td>28:30</td>
<td>

                    13 of 54

                </td>
<td>M 20-24</td>
<td>

                    1 of 3

                </td>
<td>0:04</td>
<td>28:34</td>
</tr>
<tr data-bib="586">
<td>17</td>
<td>586</td>
<td>

                    ANNA FOREMAN

                </td>
<td>F</td>
<td>56</td>
<td>SPOKANE</td>
<td>WA</td>
<td>9:19</td>
<td>28:55</td>
<td>

                    4 of 142

                </td>
<td>F 55-59</td>
<td>

                    1 of 8

                </td>
<td>0:05</td>
<td>29:00</td>
</tr>
<tr data-bib="527">
<td>18</td>
<td>527</td>
<td>

                    LORI MORROW

                </td>
<td>F</td>
<td>42</td>
<td>BORING</td>
<td>OR</td>
<td>9:25</td>
<td>29:15</td>
<td>

                    5 of 142

                </td>
<td>F 40-44</td>
<td>

                    1 of 21

                </td>
<td>0:13</td>
<td>29:28</td>
</tr>
<tr data-bib="663">
<td>19</td>
<td>663</td>
<td>

                    CLAUDIA RODRIGUEZ

                </td>
<td>F</td>
<td>44</td>
<td>GRESHAM</td>
<td>OR</td>
<td>9:30</td>
<td>29:31</td>
<td>

                    6 of 142

                </td>
<td>F 40-44</td>
<td>

                    2 of 21

                </td>
<td>0:14</td>
<td>29:45</td>
</tr>
<tr data-bib="747">
<td>20</td>
<td>747</td>
<td>

                    HEATHER PICKETT

                </td>
<td>F</td>
<td>54</td>
<td>WOODLAND</td>
<td>WA</td>
<td>9:35</td>
<td>29:44</td>
<td>

                    7 of 142

                </td>
<td>F 50-54</td>
<td>

                    1 of 9

                </td>
<td>0:06</td>
<td>29:50</td>
</tr>
<tr data-bib="548">
<td>21</td>
<td>548</td>
<td>

                    VALERIE SCHILLER

                </td>
<td>F</td>
<td>33</td>
<td>GRESHAM</td>
<td>OR</td>
<td>9:36</td>
<td>29:48</td>
<td>

                    8 of 142

                </td>
<td>F 30-34</td>
<td>

                    3 of 14

                </td>
<td>0:03</td>
<td>29:51</td>
</tr>
<tr data-bib="635">
<td>22</td>
<td>635</td>
<td>

                    NOEL MICKELBERRY

                </td>
<td>F</td>
<td>36</td>
<td>PORTLAND</td>
<td>OR</td>
<td>9:38</td>
<td>29:55</td>
<td>

                    9 of 142

                </td>
<td>F 35-39</td>
<td>

                    1 of 25

                </td>
<td>0:20</td>
<td>30:15</td>
</tr>
<tr data-bib="766">
<td>23</td>
<td>766</td>
<td>

                    JOSIE PAYTON

                </td>
<td>F</td>
<td>26</td>
<td>PORTLAND</td>
<td>OR</td>
<td>9:42</td>
<td>30:07</td>
<td>

                    10 of 142

                </td>
<td>F 25-29</td>
<td>

                    1 of 12

                </td>
<td>0:03</td>
<td>30:10</td>
</tr>
<tr data-bib="524">
<td>24</td>
<td>524</td>
<td>

                    NICOLE SMITH

                </td>
<td>F</td>
<td>41</td>
<td>GRESHAM</td>
<td>OR</td>
<td>9:46</td>
<td>30:17</td>
<td>

                    11 of 142

                </td>
<td>F 40-44</td>
<td>

                    3 of 21

                </td>
<td>0:06</td>
<td>30:23</td>
</tr>
<tr data-bib="690">
<td>25</td>
<td>690</td>
<td>

                    DANIEL ROSALES

                </td>
<td>M</td>
<td>26</td>
<td>SALEM</td>
<td>OR</td>
<td>9:46</td>
<td>30:18</td>
<td>

                    14 of 54

                </td>
<td>M 25-29</td>
<td>

                    2 of 5

                </td>
<td>0:04</td>
<td>30:22</td>
</tr>
<tr data-bib="611">
<td>26</td>
<td>611</td>
<td>

                    CHRISTOPHER CONSLA

                </td>
<td>M</td>
<td>26</td>
<td>DAMASCUS</td>
<td>OR</td>
<td>9:51</td>
<td>30:35</td>
<td>

                    15 of 54

                </td>
<td>M 25-29</td>
<td>

                    3 of 5

                </td>
<td>0:34</td>
<td>31:09</td>
</tr>
<tr data-bib="557">
<td>27</td>
<td>557</td>
<td>

                    LANA BROWN

                </td>
<td>F</td>
<td>33</td>
<td>PORTLAND</td>
<td>OR</td>
<td>9:56</td>
<td>30:50</td>
<td>

                    12 of 142

                </td>
<td>F 30-34</td>
<td>

                    4 of 14

                </td>
<td>0:05</td>
<td>30:55</td>
</tr>
<tr data-bib="518">
<td>28</td>
<td>518</td>
<td>

                    ANDREW BAUMGARTNER

                </td>
<td>M</td>
<td>33</td>
<td>PORTLAND</td>
<td>OR</td>
<td>10:07</td>
<td>31:23</td>
<td>

                    16 of 54

                </td>
<td>M 30-34</td>
<td>

                    5 of 11

                </td>
<td>0:16</td>
<td>31:39</td>
</tr>
<tr data-bib="630">
<td>29</td>
<td>630</td>
<td>

                    CAROLINA SIMA

                </td>
<td>F</td>
<td>15</td>
<td>BORING</td>
<td>OR</td>
<td>10:08</td>
<td>31:28</td>
<td>

                    13 of 142

                </td>
<td>F 15-19</td>
<td>

                    1 of 4

                </td>
<td>0:10</td>
<td>31:38</td>
</tr>
<tr data-bib="506">
<td>30</td>
<td>506</td>
<td>

                    BEV KLASON

                </td>
<td>F</td>
<td>78</td>
<td>PORTLAND</td>
<td>OR</td>
<td>10:16</td>
<td>31:53</td>
<td>

                    14 of 142

                </td>
<td>F 75-79</td>
<td>

                    1 of 7

                </td>
<td>0:07</td>
<td>32:00</td>
</tr>
<tr data-bib="640">
<td>31</td>
<td>640</td>
<td>

                    SACHIN SHANKAR

                </td>
<td>M</td>
<td>11</td>
<td>PORTLAND</td>
<td>OR</td>
<td>10:23</td>
<td>32:14</td>
<td>

                    17 of 54

                </td>
<td>M 10-14</td>
<td>

                    2 of 5

                </td>
<td>0:08</td>
<td>32:22</td>
</tr>
<tr data-bib="603">
<td>32</td>
<td>603</td>
<td>

                    AMANDA SANCHEZ

                </td>
<td>M</td>
<td>33</td>
<td>GRESHAM</td>
<td>OR</td>
<td>10:28</td>
<td>32:28</td>
<td>

                    18 of 54

                </td>
<td>M 30-34</td>
<td>

                    6 of 11

                </td>
<td>0:54</td>
<td>33:22</td>
</tr>
<tr data-bib="613">
<td>33</td>
<td>613</td>
<td>

                    VIRI NEGRETE

                </td>
<td>F</td>
<td>36</td>
<td>PORTLAND</td>
<td>OR</td>
<td>10:29</td>
<td>32:30</td>
<td>

                    15 of 142

                </td>
<td>F 35-39</td>
<td>

                    2 of 25

                </td>
<td>0:24</td>
<td>32:53</td>
</tr>
<tr data-bib="676">
<td>34</td>
<td>676</td>
<td>

                    BERENICE GARCIA

                </td>
<td>F</td>
<td>26</td>
<td>PORTLAND</td>
<td>OR</td>
<td>10:42</td>
<td>33:14</td>
<td>

                    16 of 142

                </td>
<td>F 25-29</td>
<td>

                    2 of 12

                </td>
<td>1:05</td>
<td>34:19</td>
</tr>
<tr data-bib="609">
<td>35</td>
<td>609</td>
<td>

                    DEBBIE HEURLIN

                </td>
<td>F</td>
<td>63</td>
<td>TROUTDALE</td>
<td>OR</td>
<td>10:44</td>
<td>33:17</td>
<td>

                    17 of 142

                </td>
<td>F 60-64</td>
<td>

                    1 of 6

                </td>
<td>0:05</td>
<td>33:22</td>
</tr>
<tr data-bib="754">
<td>36</td>
<td>754</td>
<td>

                    MARITZA PEREZ

                </td>
<td>F</td>
<td>33</td>
<td>PORTLAND</td>
<td>OR</td>
<td>10:48</td>
<td>33:32</td>
<td>

                    18 of 142

                </td>
<td>F 30-34</td>
<td>

                    5 of 14

                </td>
<td>0:22</td>
<td>33:54</td>
</tr>
<tr data-bib="654">
<td>37</td>
<td>654</td>
<td>

                    CARLEY STRID

                </td>
<td>F</td>
<td>35</td>
<td>FAIRVIEW</td>
<td>OR</td>
<td>10:49</td>
<td>33:34</td>
<td>

                    19 of 142

                </td>
<td>F 35-39</td>
<td>

                    3 of 25

                </td>
<td>0:11</td>
<td>33:45</td>
</tr>
<tr data-bib="526">
<td>38</td>
<td>526</td>
<td>

                    MYRNA JENSEN

                </td>
<td>F</td>
<td>51</td>
<td>GRESHAM</td>
<td>OR</td>
<td>10:50</td>
<td>33:37</td>
<td>

                    20 of 142

                </td>
<td>F 50-54</td>
<td>

                    2 of 9

                </td>
<td>0:25</td>
<td>34:02</td>
</tr>
<tr data-bib="751">
<td>39</td>
<td>751</td>
<td>

                    CHARISSA SCHUBERT

                </td>
<td>F</td>
<td>40</td>
<td>GRESHAM</td>
<td>OR</td>
<td>10:54</td>
<td>33:49</td>
<td>

                    21 of 142

                </td>
<td>F 40-44</td>
<td>

                    4 of 21

                </td>
<td>0:21</td>
<td>34:10</td>
</tr>
<tr data-bib="736">
<td>40</td>
<td>736</td>
<td>

                    ZOIE DOERING

                </td>
<td>F</td>
<td>37</td>
<td>GRESHAM</td>
<td>OR</td>
<td>10:54</td>
<td>33:49</td>
<td>

                    22 of 142

                </td>
<td>F 35-39</td>
<td>

                    4 of 25

                </td>
<td>0:21</td>
<td>34:10</td>
</tr>
<tr data-bib="752">
<td>41</td>
<td>752</td>
<td>

                    JOHNATHON WEINER

                </td>
<td>M</td>
<td>39</td>
<td>GRESHAM</td>
<td>OR</td>
<td>10:54</td>
<td>33:50</td>
<td>

                    19 of 54

                </td>
<td>M 35-39</td>
<td>

                    2 of 3

                </td>
<td>0:20</td>
<td>34:10</td>
</tr>
<tr data-bib="546">
<td>42</td>
<td>546</td>
<td>

                    PETER BOONE

                </td>
<td>M</td>
<td>44</td>
<td>PORTLAND</td>
<td>OR</td>
<td>10:58</td>
<td>34:01</td>
<td>

                    20 of 54

                </td>
<td>M 40-44</td>
<td>

                    3 of 6

                </td>
<td>0:15</td>
<td>34:16</td>
</tr>
<tr data-bib="768">
<td>43</td>
<td>768</td>
<td>

                    TRAYIA BEALS

                </td>
<td>F</td>
<td>27</td>
<td>GRESHAM</td>
<td>OR</td>
<td>11:01</td>
<td>34:11</td>
<td>

                    23 of 142

                </td>
<td>F 25-29</td>
<td>

                    3 of 12

                </td>
<td>0:03</td>
<td>34:14</td>
</tr>
<tr data-bib="588">
<td>44</td>
<td>588</td>
<td>

                    SEAN HERMANSON

                </td>
<td>M</td>
<td>33</td>
<td>GRESHAM</td>
<td>OR</td>
<td>11:06</td>
<td>34:27</td>
<td>

                    21 of 54

                </td>
<td>M 30-34</td>
<td>

                    7 of 11

                </td>
<td>4:08</td>
<td>38:35</td>
</tr>
<tr data-bib="589">
<td>45</td>
<td>589</td>
<td>

                    EVAN HERMANSON

                </td>
<td>M</td>
<td>8</td>
<td>GRESHAM</td>
<td>OR</td>
<td>11:07</td>
<td>34:29</td>
<td>

                    22 of 54

                </td>
<td>M 9 and Under</td>
<td>

                    1 of 2

                </td>
<td>4:08</td>
<td>38:37</td>
</tr>
<tr data-bib="643">
<td>46</td>
<td>643</td>
<td>

                    KOREY HEHN

                </td>
<td>F</td>
<td>31</td>
<td>PRINEVILLE</td>
<td>OR</td>
<td>11:11</td>
<td>34:43</td>
<td>

                    24 of 142

                </td>
<td>F 30-34</td>
<td>

                    6 of 14

                </td>
<td>0:11</td>
<td>34:54</td>
</tr>
<tr data-bib="551">
<td>47</td>
<td>551</td>
<td>

                    ANNE EADS

                </td>
<td>F</td>
<td>28</td>
<td>ESTACADA</td>
<td>OR</td>
<td>11:11</td>
<td>34:43</td>
<td>

                    25 of 142

                </td>
<td>F 25-29</td>
<td>

                    4 of 12

                </td>
<td>0:11</td>
<td>34:54</td>
</tr>
<tr data-bib="697">
<td>48</td>
<td>697</td>
<td>

                    NATALIE HOUGH

                </td>
<td>F</td>
<td>35</td>
<td>BORING</td>
<td>OR</td>
<td>11:12</td>
<td>34:44</td>
<td>

                    26 of 142

                </td>
<td>F 35-39</td>
<td>

                    5 of 25

                </td>
<td>0:14</td>
<td>34:58</td>
</tr>
<tr data-bib="566">
<td>49</td>
<td>566</td>
<td>

                    NICOLE HUNTLEY

                </td>
<td>F</td>
<td>44</td>
<td>PORTLAND</td>
<td>OR</td>
<td>11:13</td>
<td>34:50</td>
<td>

                    27 of 142

                </td>
<td>F 40-44</td>
<td>

                    5 of 21

                </td>
<td>0:09</td>
<td>34:59</td>
</tr>
<tr data-bib="648">
<td>50</td>
<td>648</td>
<td>

                    ALICIA WENDLER

                </td>
<td>F</td>
<td>47</td>
<td>PORTLAND</td>
<td>OR</td>
<td>11:14</td>
<td>34:51</td>
<td>

                    28 of 142

                </td>
<td>F 45-49</td>
<td>

                    2 of 17

                </td>
<td>0:24</td>
<td>35:15</td>
</tr>
<tr data-bib="696">
<td>51</td>
<td>696</td>
<td>

                    HEATHER BIANCHINI

                </td>
<td>F</td>
<td>36</td>
<td>GRESHAM</td>
<td>OR</td>
<td>11:14</td>
<td>34:51</td>
<td>

                    29 of 142

                </td>
<td>F 35-39</td>
<td>

                    6 of 25

                </td>
<td>0:14</td>
<td>35:05</td>
</tr>
<tr data-bib="753">
<td>52</td>
<td>753</td>
<td>

                    MADELEINE SMART

                </td>
<td>F</td>
<td>21</td>
<td>GRESHAM</td>
<td>OR</td>
<td>11:24</td>
<td>35:22</td>
<td>

                    30 of 142

                </td>
<td>F 20-24</td>
<td>

                    1 of 5

                </td>
<td>0:36</td>
<td>35:58</td>
</tr>
<tr data-bib="597">
<td>53</td>
<td>597</td>
<td>

                    KYLE KUIAWA

                </td>
<td>M</td>
<td>32</td>
<td>DAMASCUS</td>
<td>OR</td>
<td>11:33</td>
<td>35:50</td>
<td>

                    23 of 54

                </td>
<td>M 30-34</td>
<td>

                    8 of 11

                </td>
<td>0:09</td>
<td>35:59</td>
</tr>
<tr data-bib="607">
<td>54</td>
<td>607</td>
<td>

                    KELLI FROST

                </td>
<td>F</td>
<td>57</td>
<td>VANCOUVER</td>
<td>WA</td>
<td>11:41</td>
<td>36:15</td>
<td>

                    31 of 142

                </td>
<td>F 55-59</td>
<td>

                    2 of 8

                </td>
<td>0:32</td>
<td>36:47</td>
</tr>
<tr data-bib="742">
<td>55</td>
<td>742</td>
<td>

                    MEGHAN MELICK

                </td>
<td>F</td>
<td>38</td>
<td>GRESHAM</td>
<td>OR</td>
<td>11:41</td>
<td>36:15</td>
<td>

                    32 of 142

                </td>
<td>F 35-39</td>
<td>

                    7 of 25


In [ ]:
row = soup.find_all("tr")
row

[<tr colspan="2">
 <b>5K:</b>
 </tr>,
 <tr>
 <td>Finishers:</td>
 <td>197</td>
 </tr>,
 <tr>
 <td>Starters:</td>
 <td>198</td>
 </tr>,
 <tr>
 <td>On Course:</td>
 <td>1</td>
 </tr>,
 <tr>
 <td>Male:</td>
 <td>54</td>
 </tr>,
 <tr>
 <td>Female:</td>
 <td>143</td>
 </tr>,
 <tr>
 <td>Non-Binary:</td>
 <td>1</td>
 </tr>,
 <tr class="header">
 <th>Place</th>
 <th>Bib</th>
 <th>Name</th>
 <th>Gender</th>
 <th>Age</th>
 <th>City</th>
 <th>State</th>
 <th>Chip Pace</th>
 <th>Time</th>
 <th>Gender Place</th>
 <th>Age Group</th>
 <th>Age Group Place</th>
 <th>Time to Start</th>
 <th>Gun Time</th>
 </tr>,
 <tr data-bib="538">
 <td>1</td>
 <td>538</td>
 <td>

                     LAWRENCE DENNIS

                 </td>
 <td>M</td>
 <td>30</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>6:04</td>
 <td>18:49</td>
 <td>

                     1 of 54

                 </td>
 <td>M 30-34</td>
 <td>

                     1 of 11

                 </td>
 <td>0:03</td>
 <td>18:52</td>
 </tr>,
 <tr data-bib="664">
 <td>2</td>
 <td>664</td>
 <td>

                     NEIL CAMPBELL

                 </td>
 <td>M</td>
 <td>43</td>
 <td>SANDY</td>
 <td>OR</td>
 <td>6:04</td>
 <td>18:50</td>
 <td>

                     2 of 54

                 </td>
 <td>M 40-44</td>
 <td>

                     1 of 6

                 </td>
 <td>0:03</td>
 <td>18:53</td>
 </tr>,
 <tr data-bib="529">
 <td>3</td>
 <td>529</td>
 <td>

                     EDGAR BRAMBILA PEREZ

                 </td>
 <td>M</td>
 <td>33</td>
 <td>SANDY</td>
 <td>OR</td>
 <td>6:40</td>
 <td>20:43</td>
 <td>

                     3 of 54

                 </td>
 <td>M 30-34</td>
 <td>

                     2 of 11

                 </td>
 <td>0:02</td>
 <td>20:45</td>
 </tr>,
 <tr data-bib="748">
 <td>4</td>
 <td>748</td>
 <td>

                     JOHN PICKETT

                 </td>
 <td>M</td>
 <td>57</td>
 <td>WOODLAND</td>
 <td>WA</td>
 <td>6:59</td>
 <td>21:40</td>
 <td>

                     4 of 54

                 </td>
 <td>M 55-59</td>
 <td>

                     1 of 4

                 </td>
 <td>0:03</td>
 <td>21:43</td>
 </tr>,
 <tr data-bib="502">
 <td>5</td>
 <td>502</td>
 <td>

                     JUDAH HANSON

                 </td>
 <td>M</td>
 <td>13</td>
 <td>FAIRVIEW</td>
 <td>OR</td>
 <td>7:07</td>
 <td>22:05</td>
 <td>

                     5 of 54

                 </td>
 <td>M 10-14</td>
 <td>

                     1 of 5

                 </td>
 <td>0:02</td>
 <td>22:07</td>
 </tr>,
 <tr data-bib="553">
 <td>6</td>
 <td>553</td>
 <td>

                     HEATH FONTAINE

                 </td>
 <td>M</td>
 <td>29</td>
 <td>VANCOUVER</td>
 <td>WA</td>
 <td>7:48</td>
 <td>24:13</td>
 <td>

                     6 of 54

                 </td>
 <td>M 25-29</td>
 <td>

                     1 of 5

                 </td>
 <td>0:24</td>
 <td>24:37</td>
 </tr>,
 <tr data-bib="501">
 <td>7</td>
 <td>501</td>
 <td>

                     JACOB PARSONS

                 </td>
 <td>M</td>
 <td>36</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>8:06</td>
 <td>25:08</td>
 <td>

                     7 of 54

                 </td>
 <td>M 35-39</td>
 <td>

                     1 of 3

                 </td>
 <td>0:05</td>
 <td>25:13</td>
 </tr>,
 <tr data-bib="530">
 <td>8</td>
 <td>530</td>
 <td>

                     JENNY PEREZ

                 </td>
 <td>F</td>
 <td>32</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>8:14</td>
 <td>25:34</td>
 <td>

                     1 of 142

                 </td>
 <td>F 30-34</td>
 <td>

                     1 of 14

                 </td>
 <td>0:04</td>
 <td>25:38</td>
 </tr>,
 <tr data-bib="579">
 <td>9</td>
 <td>579</td>
 <td>

                     JUSTIN ROSS

                 </td>
 <td>M</td>
 <td>44</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>8:34</td>
 <td>26:35</td>
 <td>

                     8 of 54

                 </td>
 <td>M 40-44</td>
 <td>

                     2 of 6

                 </td>
 <td>0:05</td>
 <td>26:40</td>
 </tr>,
 <tr data-bib="756">
 <td>10</td>
 <td>756</td>
 <td>

                     JOHN EVANS

                 </td>
 <td>M</td>
 <td>32</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>8:34</td>
 <td>26:36</td>
 <td>

                     9 of 54

                 </td>
 <td>M 30-34</td>
 <td>

                     3 of 11

                 </td>
 <td>0:36</td>
 <td>27:12</td>
 </tr>,
 <tr data-bib="739">
 <td>11</td>
 <td>739</td>
 <td>

                     KEVIN HUTCHISON

                 </td>
 <td>M</td>
 <td>45</td>
 <td>SANDY</td>
 <td>OR</td>
 <td>8:37</td>
 <td>26:45</td>
 <td>

                     10 of 54

                 </td>
 <td>M 45-49</td>
 <td>

                     1 of 3

                 </td>
 <td>0:08</td>
 <td>26:54</td>
 </tr>,
 <tr data-bib="732">
 <td>12</td>
 <td>732</td>
 <td>

                     EDUARDO SANCHEZ

                 </td>
 <td>M</td>
 <td>32</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>8:42</td>
 <td>26:59</td>
 <td>

                     11 of 54

                 </td>
 <td>M 30-34</td>
 <td>

                     4 of 11

                 </td>
 <td>0:45</td>
 <td>27:44</td>
 </tr>,
 <tr data-bib="750">
 <td>13</td>
 <td>750</td>
 <td>

                     SILVIE ANDREWS

                 </td>
 <td>F</td>
 <td>31</td>
 <td>DAMASCUS</td>
 <td>OR</td>
 <td>8:50</td>
 <td>27:26</td>
 <td>

                     2 of 142

                 </td>
 <td>F 30-34</td>
 <td>

                     2 of 14

                 </td>
 <td>0:05</td>
 <td>27:31</td>
 </tr>,
 <tr data-bib="521">
 <td>14</td>
 <td>521</td>
 <td>

                     FELIX SANCHEZ

                 </td>
 <td>M</td>
 <td>46</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>9:07</td>
 <td>28:18</td>
 <td>

                     12 of 54

                 </td>
 <td>M 45-49</td>
 <td>

                     2 of 3

                 </td>
 <td>0:03</td>
 <td>28:21</td>
 </tr>,
 <tr data-bib="730">
 <td>15</td>
 <td>730</td>
 <td>

                     YARROW PARK

                 </td>
 <td>F</td>
 <td>47</td>
 <td>SEASIDE</td>
 <td>OR</td>
 <td>9:08</td>
 <td>28:21</td>
 <td>

                     3 of 142

                 </td>
 <td>F 45-49</td>
 <td>

                     1 of 17

                 </td>
 <td>0:34</td>
 <td>28:55</td>
 </tr>,
 <tr data-bib="735">
 <td>16</td>
 <td>735</td>
 <td>

                     DYLAN WALSH

                 </td>
 <td>M</td>
 <td>23</td>
 <td>ESTACADA</td>
 <td>OR</td>
 <td>9:11</td>
 <td>28:30</td>
 <td>

                     13 of 54

                 </td>
 <td>M 20-24</td>
 <td>

                     1 of 3

                 </td>
 <td>0:04</td>
 <td>28:34</td>
 </tr>,
 <tr data-bib="586">
 <td>17</td>
 <td>586</td>
 <td>

                     ANNA FOREMAN

                 </td>
 <td>F</td>
 <td>56</td>
 <td>SPOKANE</td>
 <td>WA</td>
 <td>9:19</td>
 <td>28:55</td>
 <td>

                     4 of 142

                 </td>
 <td>F 55-59</td>
 <td>

                     1 of 8

                 </td>
 <td>0:05</td>
 <td>29:00</td>
 </tr>,
 <tr data-bib="527">
 <td>18</td>
 <td>527</td>
 <td>

                     LORI MORROW

                 </td>
 <td>F</td>
 <td>42</td>
 <td>BORING</td>
 <td>OR</td>
 <td>9:25</td>
 <td>29:15</td>
 <td>

                     5 of 142

                 </td>
 <td>F 40-44</td>
 <td>

                     1 of 21

                 </td>
 <td>0:13</td>
 <td>29:28</td>
 </tr>,
 <tr data-bib="663">
 <td>19</td>
 <td>663</td>
 <td>

                     CLAUDIA RODRIGUEZ

                 </td>
 <td>F</td>
 <td>44</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>9:30</td>
 <td>29:31</td>
 <td>

                     6 of 142

                 </td>
 <td>F 40-44</td>
 <td>

                     2 of 21

                 </td>
 <td>0:14</td>
 <td>29:45</td>
 </tr>,
 <tr data-bib="747">
 <td>20</td>
 <td>747</td>
 <td>

                     HEATHER PICKETT

                 </td>
 <td>F</td>
 <td>54</td>
 <td>WOODLAND</td>
 <td>WA</td>
 <td>9:35</td>
 <td>29:44</td>
 <td>

                     7 of 142

                 </td>
 <td>F 50-54</td>
 <td>

                     1 of 9

                 </td>
 <td>0:06</td>
 <td>29:50</td>
 </tr>,
 <tr data-bib="548">
 <td>21</td>
 <td>548</td>
 <td>

                     VALERIE SCHILLER

                 </td>
 <td>F</td>
 <td>33</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>9:36</td>
 <td>29:48</td>
 <td>

                     8 of 142

                 </td>
 <td>F 30-34</td>
 <td>

                     3 of 14

                 </td>
 <td>0:03</td>
 <td>29:51</td>
 </tr>,
 <tr data-bib="635">
 <td>22</td>
 <td>635</td>
 <td>

                     NOEL MICKELBERRY

                 </td>
 <td>F</td>
 <td>36</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>9:38</td>
 <td>29:55</td>
 <td>

                     9 of 142

                 </td>
 <td>F 35-39</td>
 <td>

                     1 of 25

                 </td>
 <td>0:20</td>
 <td>30:15</td>
 </tr>,
 <tr data-bib="766">
 <td>23</td>
 <td>766</td>
 <td>

                     JOSIE PAYTON

                 </td>
 <td>F</td>
 <td>26</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>9:42</td>
 <td>30:07</td>
 <td>

                     10 of 142

                 </td>
 <td>F 25-29</td>
 <td>

                     1 of 12

                 </td>
 <td>0:03</td>
 <td>30:10</td>
 </tr>,
 <tr data-bib="524">
 <td>24</td>
 <td>524</td>
 <td>

                     NICOLE SMITH

                 </td>
 <td>F</td>
 <td>41</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>9:46</td>
 <td>30:17</td>
 <td>

                     11 of 142

                 </td>
 <td>F 40-44</td>
 <td>

                     3 of 21

                 </td>
 <td>0:06</td>
 <td>30:23</td>
 </tr>,
 <tr data-bib="690">
 <td>25</td>
 <td>690</td>
 <td>

                     DANIEL ROSALES

                 </td>
 <td>M</td>
 <td>26</td>
 <td>SALEM</td>
 <td>OR</td>
 <td>9:46</td>
 <td>30:18</td>
 <td>

                     14 of 54

                 </td>
 <td>M 25-29</td>
 <td>

                     2 of 5

                 </td>
 <td>0:04</td>
 <td>30:22</td>
 </tr>,
 <tr data-bib="611">
 <td>26</td>
 <td>611</td>
 <td>

                     CHRISTOPHER CONSLA

                 </td>
 <td>M</td>
 <td>26</td>
 <td>DAMASCUS</td>
 <td>OR</td>
 <td>9:51</td>
 <td>30:35</td>
 <td>

                     15 of 54

                 </td>
 <td>M 25-29</td>
 <td>

                     3 of 5

                 </td>
 <td>0:34</td>
 <td>31:09</td>
 </tr>,
 <tr data-bib="557">
 <td>27</td>
 <td>557</td>
 <td>

                     LANA BROWN

                 </td>
 <td>F</td>
 <td>33</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>9:56</td>
 <td>30:50</td>
 <td>

                     12 of 142

                 </td>
 <td>F 30-34</td>
 <td>

                     4 of 14

                 </td>
 <td>0:05</td>
 <td>30:55</td>
 </tr>,
 <tr data-bib="518">
 <td>28</td>
 <td>518</td>
 <td>

                     ANDREW BAUMGARTNER

                 </td>
 <td>M</td>
 <td>33</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>10:07</td>
 <td>31:23</td>
 <td>

                     16 of 54

                 </td>
 <td>M 30-34</td>
 <td>

                     5 of 11

                 </td>
 <td>0:16</td>
 <td>31:39</td>
 </tr>,
 <tr data-bib="630">
 <td>29</td>
 <td>630</td>
 <td>

                     CAROLINA SIMA

                 </td>
 <td>F</td>
 <td>15</td>
 <td>BORING</td>
 <td>OR</td>
 <td>10:08</td>
 <td>31:28</td>
 <td>

                     13 of 142

                 </td>
 <td>F 15-19</td>
 <td>

                     1 of 4

                 </td>
 <td>0:10</td>
 <td>31:38</td>
 </tr>,
 <tr data-bib="506">
 <td>30</td>
 <td>506</td>
 <td>

                     BEV KLASON

                 </td>
 <td>F</td>
 <td>78</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>10:16</td>
 <td>31:53</td>
 <td>

                     14 of 142

                 </td>
 <td>F 75-79</td>
 <td>

                     1 of 7

                 </td>
 <td>0:07</td>
 <td>32:00</td>
 </tr>,
 <tr data-bib="640">
 <td>31</td>
 <td>640</td>
 <td>

                     SACHIN SHANKAR

                 </td>
 <td>M</td>
 <td>11</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>10:23</td>
 <td>32:14</td>
 <td>

                     17 of 54

                 </td>
 <td>M 10-14</td>
 <td>

                     2 of 5

                 </td>
 <td>0:08</td>
 <td>32:22</td>
 </tr>,
 <tr data-bib="603">
 <td>32</td>
 <td>603</td>
 <td>

                     AMANDA SANCHEZ

                 </td>
 <td>M</td>
 <td>33</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>10:28</td>
 <td>32:28</td>
 <td>

                     18 of 54

                 </td>
 <td>M 30-34</td>
 <td>

                     6 of 11

                 </td>
 <td>0:54</td>
 <td>33:22</td>
 </tr>,
 <tr data-bib="613">
 <td>33</td>
 <td>613</td>
 <td>

                     VIRI NEGRETE

                 </td>
 <td>F</td>
 <td>36</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>10:29</td>
 <td>32:30</td>
 <td>

                     15 of 142

                 </td>
 <td>F 35-39</td>
 <td>

                     2 of 25

                 </td>
 <td>0:24</td>
 <td>32:53</td>
 </tr>,
 <tr data-bib="676">
 <td>34</td>
 <td>676</td>
 <td>

                     BERENICE GARCIA

                 </td>
 <td>F</td>
 <td>26</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>10:42</td>
 <td>33:14</td>
 <td>

                     16 of 142

                 </td>
 <td>F 25-29</td>
 <td>

                     2 of 12

                 </td>
 <td>1:05</td>
 <td>34:19</td>
 </tr>,
 <tr data-bib="609">
 <td>35</td>
 <td>609</td>
 <td>

                     DEBBIE HEURLIN

                 </td>
 <td>F</td>
 <td>63</td>
 <td>TROUTDALE</td>
 <td>OR</td>
 <td>10:44</td>
 <td>33:17</td>
 <td>

                     17 of 142

                 </td>
 <td>F 60-64</td>
 <td>

                     1 of 6

                 </td>
 <td>0:05</td>
 <td>33:22</td>
 </tr>,
 <tr data-bib="754">
 <td>36</td>
 <td>754</td>
 <td>

                     MARITZA PEREZ

                 </td>
 <td>F</td>
 <td>33</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>10:48</td>
 <td>33:32</td>
 <td>

                     18 of 142

                 </td>
 <td>F 30-34</td>
 <td>

                     5 of 14

                 </td>
 <td>0:22</td>
 <td>33:54</td>
 </tr>,
 <tr data-bib="654">
 <td>37</td>
 <td>654</td>
 <td>

                     CARLEY STRID

                 </td>
 <td>F</td>
 <td>35</td>
 <td>FAIRVIEW</td>
 <td>OR</td>
 <td>10:49</td>
 <td>33:34</td>
 <td>

                     19 of 142

                 </td>
 <td>F 35-39</td>
 <td>

                     3 of 25

                 </td>
 <td>0:11</td>
 <td>33:45</td>
 </tr>,
 <tr data-bib="526">
 <td>38</td>
 <td>526</td>
 <td>

                     MYRNA JENSEN

                 </td>
 <td>F</td>
 <td>51</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>10:50</td>
 <td>33:37</td>
 <td>

                     20 of 142

                 </td>
 <td>F 50-54</td>
 <td>

                     2 of 9

                 </td>
 <td>0:25</td>
 <td>34:02</td>
 </tr>,
 <tr data-bib="751">
 <td>39</td>
 <td>751</td>
 <td>

                     CHARISSA SCHUBERT

                 </td>
 <td>F</td>
 <td>40</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>10:54</td>
 <td>33:49</td>
 <td>

                     21 of 142

                 </td>
 <td>F 40-44</td>
 <td>

                     4 of 21

                 </td>
 <td>0:21</td>
 <td>34:10</td>
 </tr>,
 <tr data-bib="736">
 <td>40</td>
 <td>736</td>
 <td>

                     ZOIE DOERING

                 </td>
 <td>F</td>
 <td>37</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>10:54</td>
 <td>33:49</td>
 <td>

                     22 of 142

                 </td>
 <td>F 35-39</td>
 <td>

                     4 of 25

                 </td>
 <td>0:21</td>
 <td>34:10</td>
 </tr>,
 <tr data-bib="752">
 <td>41</td>
 <td>752</td>
 <td>

                     JOHNATHON WEINER

                 </td>
 <td>M</td>
 <td>39</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>10:54</td>
 <td>33:50</td>
 <td>

                     19 of 54

                 </td>
 <td>M 35-39</td>
 <td>

                     2 of 3

                 </td>
 <td>0:20</td>
 <td>34:10</td>
 </tr>,
 <tr data-bib="546">
 <td>42</td>
 <td>546</td>
 <td>

                     PETER BOONE

                 </td>
 <td>M</td>
 <td>44</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>10:58</td>
 <td>34:01</td>
 <td>

                     20 of 54

                 </td>
 <td>M 40-44</td>
 <td>

                     3 of 6

                 </td>
 <td>0:15</td>
 <td>34:16</td>
 </tr>,
 <tr data-bib="768">
 <td>43</td>
 <td>768</td>
 <td>

                     TRAYIA BEALS

                 </td>
 <td>F</td>
 <td>27</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>11:01</td>
 <td>34:11</td>
 <td>

                     23 of 142

                 </td>
 <td>F 25-29</td>
 <td>

                     3 of 12

                 </td>
 <td>0:03</td>
 <td>34:14</td>
 </tr>,
 <tr data-bib="588">
 <td>44</td>
 <td>588</td>
 <td>

                     SEAN HERMANSON

                 </td>
 <td>M</td>
 <td>33</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>11:06</td>
 <td>34:27</td>
 <td>

                     21 of 54

                 </td>
 <td>M 30-34</td>
 <td>

                     7 of 11

                 </td>
 <td>4:08</td>
 <td>38:35</td>
 </tr>,
 <tr data-bib="589">
 <td>45</td>
 <td>589</td>
 <td>

                     EVAN HERMANSON

                 </td>
 <td>M</td>
 <td>8</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>11:07</td>
 <td>34:29</td>
 <td>

                     22 of 54

                 </td>
 <td>M 9 and Under</td>
 <td>

                     1 of 2

                 </td>
 <td>4:08</td>
 <td>38:37</td>
 </tr>,
 <tr data-bib="643">
 <td>46</td>
 <td>643</td>
 <td>

                     KOREY HEHN

                 </td>
 <td>F</td>
 <td>31</td>
 <td>PRINEVILLE</td>
 <td>OR</td>
 <td>11:11</td>
 <td>34:43</td>
 <td>

                     24 of 142

                 </td>
 <td>F 30-34</td>
 <td>

                     6 of 14

                 </td>
 <td>0:11</td>
 <td>34:54</td>
 </tr>,
 <tr data-bib="551">
 <td>47</td>
 <td>551</td>
 <td>

                     ANNE EADS

                 </td>
 <td>F</td>
 <td>28</td>
 <td>ESTACADA</td>
 <td>OR</td>
 <td>11:11</td>
 <td>34:43</td>
 <td>

                     25 of 142

                 </td>
 <td>F 25-29</td>
 <td>

                     4 of 12

                 </td>
 <td>0:11</td>
 <td>34:54</td>
 </tr>,
 <tr data-bib="697">
 <td>48</td>
 <td>697</td>
 <td>

                     NATALIE HOUGH

                 </td>
 <td>F</td>
 <td>35</td>
 <td>BORING</td>
 <td>OR</td>
 <td>11:12</td>
 <td>34:44</td>
 <td>

                     26 of 142

                 </td>
 <td>F 35-39</td>
 <td>

                     5 of 25

                 </td>
 <td>0:14</td>
 <td>34:58</td>
 </tr>,
 <tr data-bib="566">
 <td>49</td>
 <td>566</td>
 <td>

                     NICOLE HUNTLEY

                 </td>
 <td>F</td>
 <td>44</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>11:13</td>
 <td>34:50</td>
 <td>

                     27 of 142

                 </td>
 <td>F 40-44</td>
 <td>

                     5 of 21

                 </td>
 <td>0:09</td>
 <td>34:59</td>
 </tr>,
 <tr data-bib="648">
 <td>50</td>
 <td>648</td>
 <td>

                     ALICIA WENDLER

                 </td>
 <td>F</td>
 <td>47</td>
 <td>PORTLAND</td>
 <td>OR</td>
 <td>11:14</td>
 <td>34:51</td>
 <td>

                     28 of 142

                 </td>
 <td>F 45-49</td>
 <td>

                     2 of 17

                 </td>
 <td>0:24</td>
 <td>35:15</td>
 </tr>,
 <tr data-bib="696">
 <td>51</td>
 <td>696</td>
 <td>

                     HEATHER BIANCHINI

                 </td>
 <td>F</td>
 <td>36</td>
 <td>GRESHAM</td>
 <td>OR</td>
 <td>11:14</td>
 <td>34:51</td>
 <td>

                     29 of 142

                 </td>
 <td>F 35-39</td>
 <td>

                     6 of 25

                 </td>
 <td>0:14</td>
 <td>35:05</td>
 </tr>,
 <tr data-bib="753">

In [ ]:
import re
result_list=[]
for row in row:
  cell = row.find_all('td')
  cell_to_string=str(cell)
  cell_sub = (re.sub(re.compile('<.*?>'),'',cell_to_string))
  result_list.append(cell_sub)

#convert results into df
results = pd.DataFrame(result_list)
results

                                                     0
0                                                   []
1                                    [Finishers:, 197]
2                                     [Starters:, 198]
3                                      [On Course:, 1]
4                                          [Male:, 54]
..                                                 ...
201  [194, 564, \r\n\r\n                    LIZ BRO...
202  [195, 686, \r\n\r\n                    ARTURO ...
203  [196, 532, \r\n\r\n                    MARIANN...
204  [197, 533, \r\n\r\n                    LUCY MU...
205  [, 653, \r\n\r\n                    NAOMI HERF...

[206 rows x 1 columns]

In [ ]:
result_split = results[0].str.split(',',expand=True)
result_split.tail(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
201,[194,564,\r\n\r\n LIZ BROWN\r\n\r\n...,F,56,GRESHAM,OR,25:27,1:18:55,\r\n\r\n 140 of 142\r\n\r\...,F 55-59,\r\n\r\n 8 of 8\r\n\r\n ...,0:39,1:19:34]
202,[195,686,\r\n\r\n ARTURO ROSALES\r\...,M,29,BEAVERTON,OR,25:33,1:19:15,\r\n\r\n 54 of 54\r\n\r\n ...,M 25-29,\r\n\r\n 5 of 5\r\n\r\n ...,1:00,1:20:15]
203,[196,532,\r\n\r\n MARIANNE WEST\r\n...,F,78,YUCCA VALLEY,CA,26:09,1:21:05,\r\n\r\n 141 of 142\r\n\r\...,F 75-79,\r\n\r\n 7 of 7\r\n\r\n ...,0:44,1:21:49]
204,[197,533,\r\n\r\n LUCY MULFORD\r\n\...,F,82,GRESHAM,OR,26:09,1:21:06,\r\n\r\n 142 of 142\r\n\r\...,F 80-84,\r\n\r\n 2 of 2\r\n\r\n ...,0:43,1:21:49]
205,[,653,\r\n\r\n NAOMI HERFORD\r\n...,F,16,ESTACADA,OR,,,\n,F 15-19,\n,0:10,]

In [ ]:

result_split.tail(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
201,[194,564,\r\n\r\n LIZ BROWN\r\n\r\n...,F,56,GRESHAM,OR,25:27,1:18:55,\r\n\r\n 140 of 142\r\n\r\...,F 55-59,\r\n\r\n 8 of 8\r\n\r\n ...,0:39,1:19:34]
202,[195,686,\r\n\r\n ARTURO ROSALES\r\...,M,29,BEAVERTON,OR,25:33,1:19:15,\r\n\r\n 54 of 54\r\n\r\n ...,M 25-29,\r\n\r\n 5 of 5\r\n\r\n ...,1:00,1:20:15]
203,[196,532,\r\n\r\n MARIANNE WEST\r\n...,F,78,YUCCA VALLEY,CA,26:09,1:21:05,\r\n\r\n 141 of 142\r\n\r\...,F 75-79,\r\n\r\n 7 of 7\r\n\r\n ...,0:44,1:21:49]
204,[197,533,\r\n\r\n LUCY MULFORD\r\n\...,F,82,GRESHAM,OR,26:09,1:21:06,\r\n\r\n 142 of 142\r\n\r\...,F 80-84,\r\n\r\n 2 of 2\r\n\r\n ...,0:43,1:21:49]
205,[,653,\r\n\r\n NAOMI HERFORD\r\n...,F,16,ESTACADA,OR,,,\n,F 15-19,\n,0:10,]

In [ ]:
result_remove = result_split
result_remove.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,[],None,None,None,None,None,None,None,None,None,None,None,None,None
1,[Finishers:,197],None,None,None,None,None,None,None,None,None,None,None,None
2,[Starters:,198],None,None,None,None,None,None,None,None,None,None,None,None
3,[On Course:,1],None,None,None,None,None,None,None,None,None,None,None,None
4,[Male:,54],None,None,None,None,None,None,None,None,None,None,None,None
5,[Female:,143],None,None,None,None,None,None,None,None,None,None,None,None
6,[Non-Binary:,1],None,None,None,None,None,None,None,None,None,None,None,None
7,[],None,None,None,None,None,None,None,None,None,None,None,None,None
8,[1,538,\r\n\r\n LAWRENCE DENNIS\r...,M,30,PORTLAND,OR,6:04,18:49,\r\n\r\n 1 of 54\r\n\r\n ...,M 30-34,\r\n\r\n 1 of 11\r\n\r\n ...,0:03,18:52]
9,[2,664,\r\n\r\n NEIL CAMPBELL\r\n...,M,43,SANDY,OR,6:04,18:50,\r\n\r\n 2 of 54\r\n\r\n ...,M 40-44,\r\n\r\n 1 of 6\r\n\r\n ...,0:03,18:53]

In [ ]:
# Getting table name to set for columns name

table = soup.find("table",attrs={"id":"individualResults"})
header = table.find_all("th")
column_name = []
for row in header:
    column_name.append(row.text)
column_name

result_remove.columns=column_name
result_remove.head(10)

,Place,Bib,Name,Gender,Age,City,State,Chip Pace,Time,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,[],None,None,None,None,None,None,None,None,None,None,None,None,None
1,[Finishers:,197],None,None,None,None,None,None,None,None,None,None,None,None
2,[Starters:,198],None,None,None,None,None,None,None,None,None,None,None,None
3,[On Course:,1],None,None,None,None,None,None,None,None,None,None,None,None
4,[Male:,54],None,None,None,None,None,None,None,None,None,None,None,None
5,[Female:,143],None,None,None,None,None,None,None,None,None,None,None,None
6,[Non-Binary:,1],None,None,None,None,None,None,None,None,None,None,None,None
7,[],None,None,None,None,None,None,None,None,None,None,None,None,None
8,[1,538,\r\n\r\n LAWRENCE DENNIS\r...,M,30,PORTLAND,OR,6:04,18:49,\r\n\r\n 1 of 54\r\n\r\n ...,M 30-34,\r\n\r\n 1 of 11\r\n\r\n ...,0:03,18:52]
9,[2,664,\r\n\r\n NEIL CAMPBELL\r\n...,M,43,SANDY,OR,6:04,18:50,\r\n\r\n 2 of 54\r\n\r\n ...,M 40-44,\r\n\r\n 1 of 6\r\n\r\n ...,0:03,18:53]

In [ ]:
result_remove["Place"] = result_remove["Place"].astype(str).str.replace("[", "")
result_remove["Name"] = result_remove["Name"].astype(str).str.replace("\r\n\r\n","")
result_remove["Gender Place"] = result_remove["Gender Place"].astype(str).str.replace("\r\n\r\n","")
result_remove["Age Group Place"] = result_remove["Age Group Place"].astype(str).str.replace("\r\n\r\n","")
result_remove["Gun Time"] = result_remove["Gun Time"].astype(str).str.replace("]","")
result_remove.head(15)

,Place,Bib,Name,Gender,Age,City,State,Chip Pace,Time,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,],None,None,None,None,None,None,None,None,None,None,None,None,None
1,Finishers:,197],None,None,None,None,None,None,None,None,None,None,None,None
2,Starters:,198],None,None,None,None,None,None,None,None,None,None,None,None
3,On Course:,1],None,None,None,None,None,None,None,None,None,None,None,None
4,Male:,54],None,None,None,None,None,None,None,None,None,None,None,None
5,Female:,143],None,None,None,None,None,None,None,None,None,None,None,None
6,Non-Binary:,1],None,None,None,None,None,None,None,None,None,None,None,None
7,],None,None,None,None,None,None,None,None,None,None,None,None,None
8,1,538,LAWRENCE DENNIS ...,M,30,PORTLAND,OR,6:04,18:49,1 of 54,M 30-34,1 of 11,0:03,18:52
9,2,664,NEIL CAMPBELL ...,M,43,SANDY,OR,6:04,18:50,2 of 54,M 40-44,1 of 6,0:03,18:53
10,3,529,EDGAR BRAMBILA PEREZ ...,M,33,SANDY,OR,6:40,20:43,3 of 54,M 30-34,2 of 11,0:02,20:45
11,4,748,JOHN PICKETT,M,57,WOODLAND,WA,6:59,21:40,4 of 54,M 55-59,1 of 4,0:03,21:43
12,5,502,JUDAH HANSON,M,13,FAIRVIEW,OR,7:07,22:05,5 of 54,M 10-14,1 of 5,0:02,22:07
13,6,553,HEATH FONTAINE ...,M,29,VANCOUVER,WA,7:48,24:13,6 of 54,M 25-29,1 of 5,0:24,24:37
14,7,501,JACOB PARSONS ...,M,36,GRESHAM,OR,8:06,25:08,7 of 54,M 35-39,1 of 3,0:05,25:13

In [ ]:
import pandas as pd
import numpy as np
result_remove.replace("None",np.nan,inplace=True)
coulmns_to_clean = ["Name","Gender","Age","City","State","Chip Pace","Time","Gender Place","Age Group","Age Group Place","Time to Start","Gun Time"]
result_remove.dropna(subset=coulmns_to_clean,inplace = True)
result_remove.head(5)

,Place,Bib,Name,Gender,Age,City,State,Chip Pace,Time,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
8,1,538,LAWRENCE DENNIS ...,M,30,PORTLAND,OR,6:04,18:49,1 of 54,M 30-34,1 of 11,0:03,18:52
9,2,664,NEIL CAMPBELL ...,M,43,SANDY,OR,6:04,18:50,2 of 54,M 40-44,1 of 6,0:03,18:53
10,3,529,EDGAR BRAMBILA PEREZ ...,M,33,SANDY,OR,6:40,20:43,3 of 54,M 30-34,2 of 11,0:02,20:45
11,4,748,JOHN PICKETT,M,57,WOODLAND,WA,6:59,21:40,4 of 54,M 55-59,1 of 4,0:03,21:43
12,5,502,JUDAH HANSON,M,13,FAIRVIEW,OR,7:07,22:05,5 of 54,M 10-14,1 of 5,0:02,22:07

In [ ]:
result_remove.reset_index(drop=True, inplace=True)
result_remove.index += 1
result_remove.head(5)

,Place,Bib,Name,Gender,Age,City,State,Chip Pace,Time,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
1,1,538,LAWRENCE DENNIS ...,M,30,PORTLAND,OR,6:04,18:49,1 of 54,M 30-34,1 of 11,0:03,18:52
2,2,664,NEIL CAMPBELL ...,M,43,SANDY,OR,6:04,18:50,2 of 54,M 40-44,1 of 6,0:03,18:53
3,3,529,EDGAR BRAMBILA PEREZ ...,M,33,SANDY,OR,6:40,20:43,3 of 54,M 30-34,2 of 11,0:02,20:45
4,4,748,JOHN PICKETT,M,57,WOODLAND,WA,6:59,21:40,4 of 54,M 55-59,1 of 4,0:03,21:43
5,5,502,JUDAH HANSON,M,13,FAIRVIEW,OR,7:07,22:05,5 of 54,M 10-14,1 of 5,0:02,22:07

In [ ]:
result_remove.shape

(198, 14)

In [ ]:
result_remove.info()

<class 'pandas.core.frame.DataFrame'>
Index: 198 entries, 8 to 205
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Place            198 non-null    object
 1   Bib              198 non-null    object
 2   Name             198 non-null    object
 3   Gender           198 non-null    object
 4   Age              198 non-null    object
 5   City             198 non-null    object
 6   State            198 non-null    object
 7   Chip Pace        198 non-null    object
 8   Time             198 non-null    object
 9   Gender Place     198 non-null    object
 10  Age Group        198 non-null    object
 11  Age Group Place  198 non-null    object
 12  Time to Start    198 non-null    object
 13  Gun Time         198 non-null    object
dtypes: object(14)
memory usage: 23.2+ KB

In [ ]:
result_remove.isnull().sum()

Place              0
Bib                0
Name               0
Gender             0
Age                0
City               0
State              0
Chip Pace          0
Time               0
Gender Place       0
Age Group          0
Age Group Place    0
Time to Start      0
Gun Time           0
dtype: int64

In [ ]:
import pandas as pd

# List of columns to convert to numeric
columns_to_convert = ['Place', 'Bib', 'Age', 'Chip Pace', 'Time', 'Gender Place', 'Age Group Place', 'Time to Start', 'Gun Time']

# Convert the columns to numeric
result_remove[columns_to_convert] = result_remove[columns_to_convert].apply(pd.to_numeric, errors='coerce')

result_remove.head(5)

,Place,Bib,Name,Gender,Age,City,State,Chip Pace,Time,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
1,1.0,538,LAWRENCE DENNIS ...,M,30,PORTLAND,OR,604.0,1849.0,154.0,M 30-34,111.0,3,1852.0
2,2.0,664,NEIL CAMPBELL ...,M,43,SANDY,OR,604.0,1850.0,254.0,M 40-44,16.0,3,1853.0
3,3.0,529,EDGAR BRAMBILA PEREZ ...,M,33,SANDY,OR,640.0,2043.0,354.0,M 30-34,211.0,2,2045.0
4,4.0,748,JOHN PICKETT,M,57,WOODLAND,WA,659.0,2140.0,454.0,M 55-59,14.0,3,2143.0
5,5.0,502,JUDAH HANSON,M,13,FAIRVIEW,OR,707.0,2205.0,554.0,M 10-14,15.0,2,2207.0

In [ ]:
result_remove.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 1 to 198
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Place            197 non-null    float64
 1   Bib              198 non-null    int64
 2   Name             198 non-null    object
 3   Gender           198 non-null    object
 4   Age              198 non-null    int64
 5   City             198 non-null    object
 6   State            198 non-null    object
 7   Chip Pace        197 non-null    float64
 8   Time             197 non-null    float64
 9   Gender Place     197 non-null    float64
 10  Age Group        198 non-null    object
 11  Age Group Place  197 non-null    float64
 12  Time to Start    198 non-null    int64
 13  Gun Time         197 non-null    float64
dtypes: float64(6), int64(3), object(5)
memory usage: 21.8+ KB